doctype html

html
  head
    title Review Capture
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/static/styles/home.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
   
  body
    h1 Welcome to the review capture software
    div(class="input")
      input(id="form-input", placeholder="Please enter a phone number.", name="phoneNumber")
      button(onclick="submitForm('#{phoneNumber}')") Send Request For Review
    script(type='text/javascript' src="/static/js/formHandler.js")
