.login-screen {
  min-height: 100vh;
}

.heading {
  text-align: center;
}

.login-form {
  display: grid;
  place-items: center;
  height: 50%;
}

.login-form input {
  padding: 10px;
  margin: 10px;
}
